{% load static %}
{% load widget_tweaks %}
{% load bootstrap_pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<form method="get">
    {{ filter.form.name_problem }}
    <input type="submit">
</form>

    <div class="container">
        <form name="form" method="get" id="form">
            {% render_field filter.form.difficulty onchange='this.form.submit()' %}
        </form>
    </div>

<a href="{% url 'add_problem' %}"> Add Problem</a>

    {% for problem in problems %}
        <p>
        <a href="{% url 'problem' slug=problem.slug %}">{{ problem.name_problem }} {{ problem.difficulty }} {{ problem.number_solved }} {{ problem.reject }}</a>
        <a href="{% url 'delete_problem' slug=problem.slug %}">Delete</a>
        </p>
    {% endfor %}

{% bootstrap_paginate problems range=1 show_prev_next="true" show_first_last="true" first_label="first" last_label="last" %}

<script>
</script>
</body>
</html>