{% extends 'authentication/base_authentication.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block auth %}
<div class="page">

  {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
          <div class="alert" id="alert">
            {{ error }}
          </div>
      {% endfor %}
  {% endif %}

  <div class="formContent">

    <form action="" method="POST">
        {% csrf_token %}
        {% render_field form.username type="text" id="password" class="second" name="login" placeholder="login"> %}
        {% render_field form.password type="password" id="password" class="third" name="login" placeholder="password"> %}
      <input type="submit" class="fourth" value="Log In">
    </form>

    <div class="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      <a class="underlineHover singIn" href="{% url 'register' %}">Sing In</a>
    </div>

  </div>

</div>
{% endblock %}
