{% extends 'base_templates/base_index.html' %}
{% load static %}
{% block title %}Problem Management{% endblock %}

{% block main %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div class="d-flex justify-content-between">
          <div class="h">
              <h3 class="float-md-start mb-0">PR</h3>
            <span>oblem <strong>M</strong>anagment</span>
          </div>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
            <a class="nav-link" href="{% url 'register' %}">Sign In</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="{% url 'login' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Start Solving</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>
            Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by
            <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.
        </p>
      </footer>

    </div>
{% endblock %}